
@charset "UTF-8";
@import url("adminBasic.css");

/* 무엇을 사용할 지 몰라 주석처리 했음
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.wrapper{
    width: 100%;
}

.wrap{
    width : 1200px;
}

.admin_wrap{

}

.admin_navi_wrap{
    width: 20%;
    height: 300px;
    float:left;
    height: 100%;
}
.admin_navi_wrap li{
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.admin_navi_wrap li a{
    display: block;
    height: 100%;
    width: 95%;
    margin: 0 auto;
    cursor: pointer;
    font-size:20px;
    font-weight: bolder;
}
.admin_navi_wrap li a:link {color: black;}
.admin_navi_wrap li a:visited {color: black;}
.admin_navi_wrap li a:active {color: black;}
.admin_navi_wrap li a:hover {color: black;}

.admin_list_04{
    background-color: #c8c8c8;
}
*/

/* 관리자페이지 컨텐츠 영역 */
.admin_content_wrap{
    float:left;
    width: 79%;
    height: 100%;
    border-left: 1px solid gray;
	padding: 5px;
	margin-bottom: 10px;
}

.admin_content_top {				/* 관리자 컨텐츠 제목 영역 */
	background-color: #58CCFF;
    padding: 10px;
}

.admin_content_subject{            /* 랜선여행 관리 제목*/
    font-size: 20px;
    font-weight: bolder;
    color: white;
    display: inline-block;
    width: 60%;
}

.admin_content_goods_submit{            /* 등록, 수정, 삭제*/
    display: inline-block;
    padding: 5px;
    background-color: #58CCFF;
    border: none;
}

.admin_content_goods{            /* 컨텐츠 상세 영역 */
    height: 500px;
    padding-left: 15px;
    margin-bottom: 20px;
}

.top_lan_list {				/* 랜선여행 리스트 */
	color: white;
	background-color: #58CCFF;
}

.lan_list_table {
	width: 100%;
	margin: 10px;
	padding: 5px;
}

/* float 속성 해제 */
.clearfix{
    clear: both;
}